.dashboardContainer {

	overflow-x: hidden;

	.editPanel {
		position: absolute;
		bottom: 50px;
		right: 50px;
		width: 15rem;

		& > button {
			width: 20rem;
			font-size: 3rem;
			display: block;
		}
	}

}